---
import logo from '../assets/logo.svg'
---

<section class="bg-white py-8 border-t border-zinc-300">
    <div class="flex flex-col items-center sm:grid sm:grid-cols-2 container w-11/12 max-w-6xl mx-auto gap-4 flex flex-col justify-center">
        <img src={logo.src} alt="The Kabob Guy Logo" class="h-auto w-auto max-w-60 mx-auto" />
        <div class="flex flex-col gap-2 text-center sm:text-left">
            <span class="font-semibold text-lg text-blue-800 ">CONTACT</span>
            <a href="#" class="underline text-zinc-600 hover:text-zinc-500">1234 Fire Forged Way Cuisine District, NY 10012</a>
            <a href="#" class="underline text-zinc-600 hover:text-zinc-500">+1 (555) 578 5490</a>
            <a href="#" class="text-blue-800 hover:text-blue-700 font-semibold underline">info@thekabobguy.com</a>
        </div>
    </div>
</section>
<section class="border-t border-zinc-300 bg-blue-800 pb-8">
    <div class="container flex w-11/12 mx-auto pt-16 justify-center">
        <p class="text-center text-white">&copy; {new Date().getFullYear()} The Kabob Guy. All rights reserved.</p>
    </div>
</section>